<!DOCTYPE html>
<html>
<head>
    <title>Gestion_Journaux</title>
    <meta charset="utf8" />
    <link href="/static/styles.css" rel="stylesheet" />
</head>
<body>
    {% if not nom %}
        <h2>Welcome dear stranger, please login first :</h2>
    {% else %}
        <ul class="nav">
            <li><a href="{{ url_for('auth.index') }}">Home</a></li>
            <li><a href="{{ url_for('journaux.journaux') }}">Journaux</a></li>
            {% if privilege >= 3 %}
                <li><a href="{{ url_for('serveurs.serveurs') }}">Serveurs</a></li>
            {% else %}
                <li><a class="disabled" disabled="true">Serveurs</a></li>
            {% endif %}
            {% if privilege == 7 %}
                <li><a href="{{ url_for('users.users') }}">Utilisateurs</a></li>
            {% else %}
                <li><a class="disabled" disabled="true">Utilisateurs</a></li>
            {% endif %}
            <li class="logout"><a href="{{  url_for('auth.logout') }}">Log out</a></li>
        </ul>
    {% endif %}
    <main>
    {% block body %}
        <h1>Bien le bonjour {{ nom }} !</h1>
    {% endblock %}
    </main>
</body>
</html>